In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix , classification_report

In [34]:
df=pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [35]:
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

In [36]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [37]:
df.drop('customerID',axis='columns',inplace=True)

In [38]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [40]:
# Dropping Total Charges with space ' '

df1=df[df.TotalCharges.values!=' ']

In [41]:
df1.TotalCharges=pd.to_numeric(df1.TotalCharges)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   object
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   object
 3   Dependents        7032 non-null   object
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   object
 6   MultipleLines     7032 non-null   object
 7   InternetService   7032 non-null   object
 8   OnlineSecurity    7032 non-null   object
 9   OnlineBackup      7032 non-null   object
 10  DeviceProtection  7032 non-null   object
 11  TechSupport       7032 non-null   object
 12  StreamingTV       7032 non-null   object
 13  StreamingMovies   7032 non-null   object
 14  Contract          7032 non-null   object
 15  PaperlessBilling  7032 non-null   object
 16  PaymentMethod     7032 non-null   object
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [43]:
# print all unique values of columns

def get_col_details(df1):
    for col in df1.columns:
        if df1[col].dtype=='object':
            print(f'{col}: {df1[col].unique()}')

In [44]:
df1.replace('No internet service','No',inplace=True)
df1.replace('No phone service','No',inplace=True)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\frame.py:4379: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [45]:
get_col_details(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes']
OnlineBackup: ['Yes' 'No']
DeviceProtection: ['No' 'Yes']
TechSupport: ['No' 'Yes']
StreamingTV: ['No' 'Yes']
StreamingMovies: ['No' 'Yes']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [46]:
# Encode the Categorical Data

yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']

for col in yes_no_columns:
    df1[col].replace({'Yes':1,'No':0},inplace=True)

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [47]:
get_col_details(df1)

gender: ['Female' 'Male']
InternetService: ['DSL' 'Fiber optic' 'No']
Contract: ['Month-to-month' 'One year' 'Two year']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [48]:
for col in df1.columns:
    print(f'{col}: {df1[col].unique()}')

gender: ['Female' 'Male']
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [0 1]
tenure: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService: [0 1]
MultipleLines: [0 1]
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: [0 1]
OnlineBackup: [1 0]
DeviceProtection: [0 1]
TechSupport: [0 1]
StreamingTV: [0 1]
StreamingMovies: [0 1]
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: [1 0]
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges: [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn: [0 1]

In [49]:
df1.gender.replace({'Female':1,'Male':0},inplace=True)

In [50]:
for col in df1.columns:
    print(f'{col}: {df1[col].unique()}')

gender: [1 0]
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [0 1]
tenure: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService: [0 1]
MultipleLines: [0 1]
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: [0 1]
OnlineBackup: [1 0]
DeviceProtection: [0 1]
TechSupport: [0 1]
StreamingTV: [0 1]
StreamingMovies: [0 1]
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: [1 0]
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges: [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn: [0 1]

In [51]:
# One hot Encoding to COnvert in numeric data

df2=pd.get_dummies(data=df1,columns=['InternetService','Contract','PaymentMethod'])
df2.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [52]:
for col in df2.columns:
    print(f'{col}: {df2[col].unique()}')

gender: [1 0]
SeniorCitizen: [0 1]
Partner: [1 0]
Dependents: [0 1]
tenure: [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService: [0 1]
MultipleLines: [0 1]
OnlineSecurity: [0 1]
OnlineBackup: [1 0]
DeviceProtection: [0 1]
TechSupport: [0 1]
StreamingTV: [0 1]
StreamingMovies: [0 1]
PaperlessBilling: [1 0]
MonthlyCharges: [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges: [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn: [0 1]
InternetService_DSL: [1 0]
InternetService_Fiber optic: [0 1]
InternetService_No: [0 1]
Contract_Month-to-month: [1 0]
Contract_One year: [0 1]
Contract_Two year: [0 1]
PaymentMethod_Bank transfer (automatic): [0 1]
PaymentMethod_Credit card (automatic): [0 1]
PaymentMethod_Electronic check: [1 0]
PaymentMethod_Mailed check: [0 1]

In [53]:
df2

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,0,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,0,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,0,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,1,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,0,1,1,24,1,1,1,0,1,...,1,0,0,0,1,0,0,0,0,1
7039,1,0,1,1,72,1,1,0,1,1,...,0,1,0,0,1,0,0,1,0,0
7040,1,0,1,1,11,0,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0
7041,0,1,1,0,4,1,1,0,0,0,...,0,1,0,1,0,0,0,0,0,1
7042,0,0,0,0,66,1,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0

In [54]:
cols_to_scale = ['tenure','MonthlyCharges','TotalCharges']

scaler=MinMaxScaler()
df2[cols_to_scale]=scaler.fit_transform(df2[cols_to_scale])

In [55]:
df2.dtypes

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                     float64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [56]:
X=df2.drop('Churn',axis='columns')
y=df2['Churn']

In [57]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [58]:
X_train.shape

(5625, 26)

In [59]:
X_test.shape

(1407, 26)

In [60]:

# Model Building

model=LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.798862828713575

In [61]:
y_pred=model.predict(X_test)

In [62]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.88      0.87      1052
           1       0.61      0.55      0.58       355

    accuracy                           0.80      1407
   macro avg       0.73      0.72      0.72      1407
weighted avg       0.79      0.80      0.80      1407

In [63]:
cm=confusion_matrix(y_test,y_pred)

In [64]:
# import seaborn as sns
# plt.figure(figsize=(10,5))
# # sns.heatmap(cm_mat,annot=True)
# plt.show()

In [162]:
def logistic_reg(X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

    print(f'X_trian shape: {X_train.shape}, X_test shape: {X_test.shape}\n')
    model=LogisticRegression()
    model.fit(X_train,y_train)
    print('Score:',model.score(X_test,y_test))
    
    y_pred=model.predict(X_test)
    
    cm=confusion_matrix(y_test,y_pred)
    print(f'Confusion Matrix: {cm}\n')
    
    print(classification_report(y_test,y_pred))
    
    return model.predict(X_test),y_test

## Under Sampling technique for F1-Score

In [66]:
print(X_train.shape)
print(X_test.shape)

(5625, 26)
(1407, 26)

In [67]:
y.value_counts()

0    5163
1    1869
Name: Churn, dtype: int64

In [68]:
y_test.value_counts()

0    1052
1     355
Name: Churn, dtype: int64

In [69]:
count_0,count_1=df2.Churn.value_counts()

df_class_0=df2[df2['Churn']==0]
df_class_1=df2[df2['Churn']==1]

In [70]:
count_0,count_1

(5163, 1869)

In [71]:
df_under_0=df_class_0.sample(count_1)

df_under_sample=pd.concat([df_under_0,df_class_1],axis=0)
df_under_sample.Churn.value_counts()

1    1869
0    1869
Name: Churn, dtype: int64

In [72]:
X=df_under_sample.drop('Churn',axis='columns')
y=df_under_sample.Churn

In [73]:
logistic_reg(X,y)

X_trian shape: (2990, 26), X_test shape: (748, 26)

Score: 0.767379679144385
Confusion Matrix: [[261  97]
 [ 77 313]]

              precision    recall  f1-score   support

           0       0.77      0.73      0.75       358
           1       0.76      0.80      0.78       390

    accuracy                           0.77       748
   macro avg       0.77      0.77      0.77       748
weighted avg       0.77      0.77      0.77       748

## Oversampling  minority class by duplication

In [74]:
df_class_0.shape

(5163, 27)

In [75]:
df_class_1.shape

(1869, 27)

In [76]:
df_over_1=df_class_1.sample(count_0,replace=True)

In [77]:
df_over_1.shape

(5163, 27)

In [78]:
df_over_sample=pd.concat([df_class_0,df_over_1],axis=0)
df_over_sample.shape

(10326, 27)

In [79]:
X=df_over_sample.drop('Churn',axis='columns')
y=df_over_sample['Churn']

In [80]:
logistic_reg(X,y)

X_trian shape: (8260, 26), X_test shape: (2066, 26)

Score: 0.7608906098741529
Confusion Matrix: [[764 275]
 [219 808]]

              precision    recall  f1-score   support

           0       0.78      0.74      0.76      1039
           1       0.75      0.79      0.77      1027

    accuracy                           0.76      2066
   macro avg       0.76      0.76      0.76      2066
weighted avg       0.76      0.76      0.76      2066

## Oversampling using SMOTE

In [81]:
X=df2.drop('Churn',axis='columns')
y=df2['Churn']

In [82]:
# pip install imbalanced-learn

In [85]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
X_sm, y_sm = smote.fit_resample(X, y)

y_sm.value_counts()

1    5163
0    5163
Name: Churn, dtype: int64

In [86]:
logistic_reg(X_sm,y_sm)

X_trian shape: (8260, 26), X_test shape: (2066, 26)

Score: 0.7918683446272992
Confusion Matrix: [[759 252]
 [178 877]]

              precision    recall  f1-score   support

           0       0.81      0.75      0.78      1011
           1       0.78      0.83      0.80      1055

    accuracy                           0.79      2066
   macro avg       0.79      0.79      0.79      2066
weighted avg       0.79      0.79      0.79      2066

## Using Ensembling Technique

In [87]:
print(df_class_0.shape)
print(df_class_1.shape)

(5163, 27)
(1869, 27)

In [88]:
df_class_0.shape[0]/3

1721.0

In [91]:
X=df2.drop('Churn',axis='columns')
y=df2['Churn']

In [101]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [102]:
print(X_train.shape)
print(X_test.shape)

(5625, 26)
(1407, 26)

In [106]:
y_train.value_counts()

0    4153
1    1472
Name: Churn, dtype: int64

In [107]:
X_train[0:1472]

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
857,0,0,0,0,0.000000,1,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
4871,0,0,1,1,0.802817,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,0
1500,1,0,0,0,0.507042,0,0,0,0,1,...,1,0,0,1,0,0,0,1,0,0
3799,1,0,0,0,0.422535,1,1,1,0,1,...,1,0,0,1,0,0,0,1,0,0
6037,0,1,0,0,0.873239,1,1,1,1,1,...,0,1,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789,0,0,1,0,0.746479,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
624,1,0,0,0,0.084507,1,0,0,0,0,...,0,0,1,1,0,0,1,0,0,0
3705,1,0,1,1,0.957746,1,1,1,0,0,...,1,0,0,0,0,1,0,1,0,0
6414,0,0,1,1,0.549296,1,1,0,0,0,...,0,0,1,0,0,1,0,1,0,0
5572,0,0,1,0,0.971831,1,1,1,0,1,...,1,0,0,0,0,1,0,1,0,0

In [108]:
X_train[1473:1472]

Empty DataFrame
Columns: [gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, PaperlessBilling, MonthlyCharges, TotalCharges, InternetService_DSL, InternetService_Fiber optic, InternetService_No, Contract_Month-to-month, Contract_One year, Contract_Two year, PaymentMethod_Bank transfer (automatic), PaymentMethod_Credit card (automatic), PaymentMethod_Electronic check, PaymentMethod_Mailed check]
Index: []

[0 rows x 26 columns]

## Make 3 data split of 1350 each

In [116]:
df3=X_train.copy()
df3['Churn']=y_train

In [118]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5625 entries, 857 to 1767
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   5625 non-null   int64
 1   SeniorCitizen                            5625 non-null   int64
 2   Partner                                  5625 non-null   int64
 3   Dependents                               5625 non-null   int64
 4   tenure                                   5625 non-null   float64
 5   PhoneService                             5625 non-null   int64
 6   MultipleLines                            5625 non-null   int64
 7   OnlineSecurity                           5625 non-null   int64
 8   OnlineBackup                             5625 non-null   int64
 9   DeviceProtection                         5625 non-null   int64
 10  TechSupport                              5625 non-null   int64
 11  StreamingTV                              5625 non-null   int64
 12  StreamingMovies                          5625 non-null   int64
 13  PaperlessBilling                         5625 non-null   int64
 14  MonthlyCharges                           5625 non-null   float64
 15  TotalCharges                             5625 non-null   float64
 16  InternetService_DSL                      5625 non-null   uint8
 17  InternetService_Fiber optic              5625 non-null   uint8
 18  InternetService_No                       5625 non-null   uint8
 19  Contract_Month-to-month                  5625 non-null   uint8
 20  Contract_One year                        5625 non-null   uint8
 21  Contract_Two year                        5625 non-null   uint8
 22  PaymentMethod_Bank transfer (automatic)  5625 non-null   uint8
 23  PaymentMethod_Credit card (automatic)    5625 non-null   uint8
 24  PaymentMethod_Electronic check           5625 non-null   uint8
 25  PaymentMethod_Mailed check               5625 non-null   uint8
 26  Churn                                    5625 non-null   int64
dtypes: float64(3), int64(14), uint8(10)
memory usage: 845.9 KB

In [119]:
df3_class0 = df3[df3.Churn==0]
df3_class1 = df3[df3.Churn==1]

In [121]:
print(df3_class0.shape)
print(df3_class1.shape)

(4153, 27)
(1472, 27)

In [141]:
# df3_class0[0:1350]
# df3_class0[1350:2700]
df3_class0[2700:4050]
# 1350+1350+1350

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
2898,1,0,0,0,0.070423,0,0,1,1,1,...,0,0,0,0,1,0,0,0,1,0
2100,0,0,1,0,0.957746,1,1,0,0,1,...,1,0,0,1,0,1,0,0,0,0
538,1,0,1,0,0.957746,1,0,0,1,0,...,1,0,0,1,0,0,1,0,0,0
3579,0,0,1,1,0.549296,1,1,0,0,1,...,1,0,1,0,0,0,0,1,0,0
6712,0,0,1,1,0.380282,1,0,0,0,1,...,1,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2600,1,0,0,0,0.000000,1,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0
6476,0,0,1,1,0.732394,1,1,1,1,0,...,0,0,0,1,0,1,0,0,0,0
6533,0,1,1,0,0.380282,1,1,0,1,0,...,1,0,1,0,0,0,0,1,0,0
3417,1,0,1,1,0.098592,1,0,0,1,0,...,0,0,1,0,0,1,0,0,0,0
6118,0,0,0,0,1.000000,1,1,1,1,1,...,1,0,0,0,1,0,0,1,0,0

In [168]:
def get_data_batch(df0,df1,start,end):
    df_train=pd.concat([df0[start:end],df1.sample(1350)])
    
    X_train=df_train.drop('Churn',axis='columns')
    y_train=df_train['Churn']
    
    return X_train,y_train

In [169]:
X,y=get_data_batch(df3_class0,df3_class1,0,1350)
y_pred1,y_test=logistic_reg(X,y)

X_trian shape: (2160, 26), X_test shape: (540, 26)

Score: 0.7759259259259259
Confusion Matrix: [[187  60]
 [ 61 232]]

              precision    recall  f1-score   support

           0       0.75      0.76      0.76       247
           1       0.79      0.79      0.79       293

    accuracy                           0.78       540
   macro avg       0.77      0.77      0.77       540
weighted avg       0.78      0.78      0.78       540

In [170]:
X,y=get_data_batch(df3_class0,df3_class1,0,1350)
y_pred2,y_test=logistic_reg(X,y)

X_trian shape: (2160, 26), X_test shape: (540, 26)

Score: 0.7833333333333333
Confusion Matrix: [[223  70]
 [ 47 200]]

              precision    recall  f1-score   support

           0       0.83      0.76      0.79       293
           1       0.74      0.81      0.77       247

    accuracy                           0.78       540
   macro avg       0.78      0.79      0.78       540
weighted avg       0.79      0.78      0.78       540

In [171]:
X,y=get_data_batch(df3_class0,df3_class1,2700,2700+1350)
y_pred3,y_test=logistic_reg(X,y)

X_trian shape: (2160, 26), X_test shape: (540, 26)

Score: 0.7703703703703704
Confusion Matrix: [[182  63]
 [ 61 234]]

              precision    recall  f1-score   support

           0       0.75      0.74      0.75       245
           1       0.79      0.79      0.79       295

    accuracy                           0.77       540
   macro avg       0.77      0.77      0.77       540
weighted avg       0.77      0.77      0.77       540

In [180]:
y_pred_final = y_pred1.copy()
for i in range(len(y_pred1)):
    n_ones = y_pred1[i] + y_pred2[i] + y_pred3[i]
    if n_ones>1:
        y_pred_final[i] = 1
    else:
        y_pred_final[i] = 0

In [181]:
y_pred_final

array([1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)